<div class="panel clearfix">
    <p>
        This is a <em>free</em> service to allow a user to submit a photograph
        for resizing images to the according to the
        <span data-tooltip class="has-tip"
              title="Resulting image is within 1024px &times; 768px constraints and less than or equal to 500 Kilobytes.">generic standards</span>
        set out by <a href="http://pssa.co.za/" rel="nofollow">PSSA</a>.
        <br/>
        The resulting image can then be uploaded to <a href="http://www.photovaultonline.com/">photovaultonline.com</a>
    </p>
    <a href="#/upload" class="button radius right">I'm ready! &rightarrow;</a>
</div>

