<div ng-hide="displayResult()" class="row">
    <h2>Upload details</h2>

    <form ng-model="fm" novalidate="novalidate">
        <div class="row collapse">
            <div class="expand">
                <input id="file" type="file" name="file"
                       class="button"
                       ng-model="file"
                       ng-hide="working"
                       onchange="angular.element(this).scope().change(this)"/>
            </div>
        </div>
        <div class="expand">
            <div class="row collapse">
                <div class="large-2 columns">
                    <span class="prefix">Resize for Category</span>
                </div>
                <div class="large-4 columns">
                    <select ng-options="spec for spec in resizeSpec" ng-model="selectedResizeSpec"></select>
                </div>
                <div class="large-2 columns">
                    <span class="prefix">Border Width</span>
                </div>
                <div class="large-3 columns">
                    <select ng-options="width for width in widths" ng-model="borderWidth"></select>
                </div>
                <div class="large-1 columns">
                    <span class="postfix">px</span>
                </div>
            </div>
        </div>
        <div class="expand">
            <button class="button expand" type="submit" ng-click="submit()" ng-show="canUpload()">Submit</button>
        </div>

        <dl>
            <dt>APA</dt> <dd>1280x800px, max 1.5M</dd>
            <dt>Salon</dt> <dd>1024x768px, max 0.5M</dd>
        </dl>

    </form>
</div>

<div id="working" ng-show="working">
    <img src="img/loading.gif"/>
</div>
